<div style="display: inline-block; position: relative">
  <div
  [ngClass]="flickerOn ? 'animate-flicker' : 'opacity-zeroed'"
    id="overlappingDiv"
    style="
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      z-index: 10;
    "
  ></div>

  <canvas></canvas>

  <div *ngIf="!warrior1Ready && this.clicked" id="parent">
    <div id="child" class="abc">Loading Fierce Veggies...


    </div>
  </div><div *ngIf="!warrior1Ready && this.clicked"  class="loader"></div>
</div>
