<div class="window-component">
  <div
    [ngClass]="flickerOn ? 'animate-flicker' : 'opacity-zeroed'"
    id="overlappingDiv"
    style="
      background-color: black;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      z-index: 10;
    "
  ></div>

  <app-video-player [gameOver]="gameOver" [gameOverText]="gameOverText" [kanyeWantsToSpeak]="kanyeWantsToSpeak" [inspirationalQuote]="inspiration"
    *ngIf="algorythmsMan"
    class="video-player"
  ></app-video-player>

<div class="non-draggable" *ngIf="(foesFallen > 0 && !gameOver) || (!algorythmsMan && gameOver && foesFallen > 0) || (!algorythmsMan &&  foesFallen > 0)"
  style="position: absolute;
  top: -9px;
  left: 125px;">
  <p>Foes Defeated: {{foesFallen}}</p>
</div>
<app-dialog-box  *ngIf="clicked" [inputData]="dialogText" [inputEnded]="textInputEnded"></app-dialog-box>

<app-health-box *ngIf="warrior2Ready" [name]="enemyName" [amountIn]="enemyHpAmount" [maxAmount]="enemyMaxHp" [isEnemy]="enemyTrue"></app-health-box>
<app-health-box *ngIf="warrior1Ready" [name]="heroName" [amountIn]="heroHpAmount" [maxAmount]="heroMaxHp" [isEnemy]="enemyFalse"></app-health-box>
<!-- GAME CANVAS -->
  <canvas class="canvas"></canvas>


<!-- LOADING BAR -->
  <div class="non-draggable" *ngIf="(!warrior1Ready && clicked && !algorythmsMan) || (!warrior2Ready && warrior2Called && warrior1Ready && !algorythmsMan)" id="parent">
    <div id="child" class="abc non-draggable">Loading Fierce Veggies...</div>
  </div>
</div>

<!--  -->
<!-- BUTTONS -->
<!--  -->
<div class="button-box">
  <div #red
    class="button button-red"
    id="disabled-button1"
    (click)="pushedButton('red')"
  >
  <p *ngIf="autoClicked"
  class="non-draggable"
  style="font-stretch: extra-condensed;
        display: block;
        top: -14px;
        margin: 0;
        padding: 0;
        position: relative;
        line-height: 0px;
        left: 14px;"
        >AUTOCLICKER ON</p>

    <div class="outer">
      <div class="height">
        <div class="inner"><span class="non-draggable">FIGHT</span></div>
      </div>
    </div>
<!-- loading circle -->
    <div *ngIf="autoClickerLoads" id="circle3"
    [ngClass]="{'spinning': autoClicked, 'not-spinning': !autoClicked}">
    </div>

  </div>

  <div
    class="button button-green"
    id="disabled-button3"
    (click)="pushedButton('green')">
    <div class="outer">
      <div class="height">
        <div class="inner" style="line-height: 1em !important">
          <span [ngStyle]="{'font-size': algorythmsMan ?  '22px':'29px' }"
            style="
              font-weight: bold;
              line-height: 1.2em;
              font-stretch: extra-condensed;
            "
            ><span class="non-draggable">{{
              algorythmsMan
                ? "nah bro, let me back to game"
                : "Get inspiration!"
            }}</span></span
          >
        </div>
      </div>
    </div>
  </div>

  <div
    class="button button-blue"
    id="disabled-button2"
    (click)="pushedButton('blue')"
    disabled
  >
    <div class="outer">
      <div class="height">
        <div class="inner"><span class="non-draggable">EVOLVE</span><span *ngIf="warrior1EvolveStage >= 3"><br><span>AT MAX</span></span></div>
      </div>
    </div>
  </div>
</div>

<!-- LOADING SPINNER -->
<div class="loading-spinner-box non-draggable">
  <div *ngIf="(!warrior1Ready && clicked && !algorythmsMan) || (!warrior2Ready && warrior2Called && warrior1Ready && !algorythmsMan) " class="loader"></div>
</div>
