#child {
  width: 586px;
  overflow: hidden;
  padding: 10px 0px 0px 10px;
  text-transform: uppercase;
  white-space: nowrap;
  height: 46px;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.303);
}

#parent {
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  /* Center vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation .5s infinite;
   -moz-animation: flickerAnimation .5s infinite;
   -o-animation: flickerAnimation .5s infinite;
    animation: flickerAnimation .5s infinite;
}

.opacity-zeroed{
  -webkit-animation: flickerAnimationEnd 2s alternate forwards;
  -moz-animation: flickerAnimationEnd 2s alternate forwards;
  -o-animation: flickerAnimationEnd 2s alternate forwards;
   animation: flickerAnimationEnd 2s alternate forwards;
}


@keyframes flickerAnimationEnd {
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-o-keyframes flickerAnimationEnd{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes flickerAnimationEnd{
  0%   { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimationEnd{
  0%   { opacity:1; }
  100% { opacity:0; }
}


.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #000000;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #c41414;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
