<div [ngClass]="isEnemy ? 'box2' : 'box1'" [@openClose]="isOpen ? true : false">
  <p style="margin: 0;" [ngStyle]="this.name.length > 88 ? {'font-size': '8px'} : {'font-size': '9px'}">
    {{name}} <span *ngIf="this.name.length < 1"> waiting for contestant...  </span>
  </p>

  <div class="meter animate">
    <span style="
    width: 100%;
    background-color: rgb(255 0 0);">
    <span *ngIf="isEnemy" id="health-amount-enemy" style="width: 0%;transition: all 1.5s ease-in-out;"></span>
    <span *ngIf="!isEnemy" id="health-amount-hero" style="width: 0%;transition: all 1.5s ease-in-out;"></span>
  </span>
  </div>
</div>
