<div [ngClass]="isEnemy ? 'box1' : 'box2'">
  <p style="margin: 0;" [ngStyle]="this.name.length > 88 ? {'font-size': '8px'} : {'font-size': '9px'}">
    {{name}} <span *ngIf="this.name.length < 1"> waiting for contestant...  </span>
  </p>

  <div class="meter animate">
    <span style="
    width: 100%;
    background-color: rgb(255 0 0);">
    <span *ngIf="isEnemy" id="health-amount-enemy" style="width: 0%;"></span>
    <span *ngIf="!isEnemy" id="health-amount-hero" style="width: 0%;"></span>
  </span>
  </div>
</div>
