

<div #box class="resizable-draggable"
[style.width.px]="width"
[style.height.px]="height"
[style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
[class.active]="status === 1 || status === 2"
(mousedown)="setStatus($event, 2)"
(window:mouseup)="setStatus($event, 0)"
>


<p>debug-window</p>

<table class="tg">
  <thead>
    <tr>
      <th class="tg-0lax">Name</th>
      <th class="tg-0lax">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of $Observables">
      <td class="tg-0lax">{{ item.name }}</td>
      <td class="tg-0lax">{{ item.data | date:'mm:ss'  }}</td>
    </tr>
  </tbody>
</table>


<div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
<span>{{width | number:'1.0-0'}}px</span>
<span>{{height | number:'1.0-0'}}px</span>
<span>({{left}}, {{top}})</span>
</div>


<!-- <div class="time-box" *ngIf="p.value.playerTimer > 0">
    {{ p.value.playerTimer * 1000 | date:'mm:ss' }}
  </div> -->
